*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#kitxva-pasuxi{
    width: 800px;
    height:fit-content;
    background-color: rgb(53, 95, 233);
    margin: auto;
}
#pirveli-kitxva,#meore-kitxva,#mesame-kitxva,#meotxe-kitxva{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}
#pirveli-pasuxi,#meore-pasuxi,#mesame-pasuxi,#meotxe-pasuxi{
   width: 80%;
   height: 40%;
color: #fff;
transform: translateX(-200%);
transition: all 1s;
justify-content: center;
align-items: center;
margin: auto;
text-align: center;
}
.show{
transform: translateX(0%) !important;
}
#btn{
    width: 100px;
    height: 20px;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}
#pirveli,#meore,#mesame,#meotxe{
    width: 100%;
    height: 23%;
}
#main{
    text-decoration: none;
    color: black;
}